.header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include element('header') {
        font-weight: normal;
        padding-bottom: 5px;
        font-size: $h1-text-size;
    }
    @include element('participant') {
        font-weight: normal;
        font-size: $h2-text-size;
    }
}