.zoom-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include element('icon') {
        width: 40px;
        margin: 5px;
        cursor: pointer;
        @include meta-tag('hover') {
            border-radius: 5px;
            background-color: $background-secondary;
        };
    }
}